.input{
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    &-input{
        margin-bottom: 20px;
        height: 30px;
        margin-right: 10px;
        width: 100%;
        background-color: #ffcc00;
        font-weight: bold;
        border: 2px solid #0075BE;
        border-radius: 5px;
    }

    &-button{
        margin-bottom: 50px;
    }
}
