.nav{

    &-list {
        list-style-type: none;
        width: 100%;


        &-element{
            
            display: flex;
            flex-direction: row;

            & > a{  
                text-decoration: none;
            }
        }
    }
}