// Components

@import './components/Footer';
@import './components/Header';
@import './components/Main';
@import './components/Navigation';
@import './components/Input';
@import './components/Home';
@import './components/Card';
@import './components/Error';
@import './components/PokemonList';
@import './components/New';
@import './components/Details';

// Fonts
@font-face {
    font-family: 'pokemon';
    src: local('pokemon'), url(../fonts/pokemon.ttf) format('truetype');
  }
  @font-face {
    font-family: 'pokemon-fill';
    src: local('pokemon-fill'), url(../fonts/pokemon_fill.ttf) format('truetype');
  }