body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'pokemon';
  src: local('pokemon'), url(./fonts/pokemon.ttf) format('truetype');
}
@font-face {
  font-family: 'pokemon-fill';
  src: local('pokemon-fill'), url(./fonts/pokemon_fill.ttf) format('truetype');
}